<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taiko.noblenote"
 >


	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.taiko.noblenote.MainApplication"
        >
        <!-- Holo.Theme.Sherlock.Light.Custom for holo everywhere -->
        <activity 
            android:label="@string/app_name" 
            android:name="com.taiko.noblenote.MainActivity"
             
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
            
           
        </activity>
        <activity
            
            android:name=".NoteListActivity"
            > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FolderListActivity" />
        </activity>
        <!--             android:theme="@style/Theme.Styled" -->
        <activity
            
            android:name=".NoteEditorActivity">
        </activity>
        
        <activity
            android:name=".RenameDialogActivity"
            android:label="@string/rename_dialog">
        </activity>
    </application>


</manifest>